{% extends 'base.html.twig' %}

{% block title %}
	Mon panier
{% endblock %}

{% block body %}
	<h1>Mon panier</h1>

	{% if cart | length > 0 %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for c in cart %}
					<tr>
						<td>{{ c.product.name }}</td>
						<td>{{ c.product.price|price }}</td>
						<td>
							<a href="{{ path('cart_add', {'id': c.product.id}) }}?backToCart">
								<i class="fas fa-plus btn btn-info mr-4"></i>
							</a>
							{{ c.quantity }}
							<a href="{{ path('cart_decrement', {'id': c.product.id}) }}">
								<i class="fas fa-minus btn btn-info ml-4"></i>
							</a>
						</td>
						<td>
							{{ c.total|price }}
						</td>
						<td>
							<a href="{{ path('cart_delete', {'id': c.product.id}) }}">
								<i class="fas fa-trash btn btn-warning"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan='3'>TOTAL</td>
					<td colspan='2'>{{ cartService.total|price }}</td>
				</tr>
			</tfoot>
		</table>

		{% if app.user %}
			<h2>Formulaire de confirmation de votre panier</h2>
			{{ form_start(confirmationForm, {'action': path('purchase_confirm')}) }}

			{{ form_widget(confirmationForm) }}

			<button type="submit" class="btn btn-success mt-3">Commander !</button>

			{{ form_end(confirmationForm) }}
		{% else %}
			<h2>Vous devez être connecté pour valider votre commande</h2>
			<a href="{{ path("security_login") }}">
				<button class="btn btn-success">Connexion</button>
			</a>
			<button class="btn btn-info">Créer un compte</button>
		{% endif %}
	{% else %}
		<h2>Le panier est vide</h2>
	{% endif %}
	{% block javascripts %}
		<script src="/JS/formError.js"></script>
	{% endblock %}
{% endblock %}
